option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
  aws:elasticbeanstalk:container:nodejs: 
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    DATABASE_URL: "postgresql://usuario:contraseña@tu-endpoint-rds.region.rds.amazonaws.com:5432/nombre_db"